[SddmGreeterTheme]
Name=Nadir Void
Description=Theme for SDDM
Author=Sebastian Steinau
Copyright=Copyright (C) 2025 Sebastian Steinau
License=GPL-3.0-or-later
Type=sddm-theme
Version=2.0.0
Website=https://gitlab.com/Matt.Jolly/sddm-eucalyptus-drop
Screenshot=Previews/PartialBlur.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=sebastian.steinau@steinautech.com
Theme-Id=nadir-void
Theme-API=2.11
QtVersion=6
